.page-header{
  .city{
    color: $primaryColor;
  }
}

.page-directory-wrap{
  .grid-item{
    border: 1px solid $black;
    padding: 20px;

    .content{
      .content-head{
        p{
          margin-bottom: 10px;
        }
        h2{
          color: $brand-primary;
          font-family: $font-family-headline;
        }
      }

      .inner-content{

      }
    }
  }
}

.page-franchise-wrap{
  h4{
    margin-top: 20px;
    color: $primaryColor !important;
  }
  .lead{
    @include make-lead;
  }
}